* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container img {
  height: 314px;
}

.bg-image {
  /* background-image: url("https://plus.unsplash.com/premium_photo-1682339496351-7e79146d7c48?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"),
    linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0)); */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("https://plus.unsplash.com/premium_photo-1682339496351-7e79146d7c48?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
